.btn {
    background: $green-dark;
    color: $white;
    border: 2px solid $green-dark;
    font-size: 13px;
    padding: .4rem .8rem;
    border-radius: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
    display: inline-block;
    &.btn-empty {
        border: 2px solid $green-dark;
        background: $white;
        color: $green-dark;
    }
    &.btn-block {
        display: inline-block;
    }
}