header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    z-index: 998;
    transition: all .6s ease;
}

#page-content-wrapper {
    padding-top: 9rem;
}

.header-grid {
    padding: 1rem;
    .header-logo {
        grid-area: logo;
        img {
            max-width: 5rem;
        }
    }
    #desktopMenuClose {
        grid-area: menu;
        align-self: start;
        justify-self: center;
        margin-top: 0;
    }
    .header-icons {
        grid-area: icons;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        @media screen and (min-width: $tablet) {
            align-items: flex-start;
            align-self: start;
        }
        .header-icon {
            margin-left: 1rem;
        }
    }
    .header-menu {
        grid-area: menu;
        justify-self: end;
        @media screen and (min-width: $tablet) {
            align-self: start;
            justify-self: center;
        }
    }
    .header-search {
        grid-area: search;
        justify-self: end;
        align-self: center;
        width: 100%;
        @media screen and (min-width: $tablet) {
            align-self: start;
        }
        input.search-field {
            background: $grey;
            padding: .5rem 1rem !important;
            border-radius: 2rem !important;
            border: 0 !important;
            width: 100% !important;
        }
    }
}