.rolunk-lead {
    @media screen and (min-width: $tablet) {
        max-width: 40rem;
    }
}

.team-wrapper {
    @media screen and (min-width: $tablet) {
        columns: 2;
        .team-member {
            break-inside: avoid-column;
        }
    }
}