.filter-content {
    .filter {
        label {
            position: relative;
            input {
                width: 15px;
                height: 15px;
                position: relative;
                cursor: pointer;
                border-radius: 0;
                opacity: 0;
            }
            .checkmark {
                position: absolute;
                top: 5px;
                left: 0;
                height: 13px;
                width: 13px;
                background-color: transparent;
                border: 2px solid $green-dark;
            }
        }
    }
}